@import 'css/settings';

.c-table-widget {
  padding: 10px;

  > table {
    width: 100%;
    min-height: 180px;
    max-height: 200px;
    overflow: auto;

    tr {
      td {
        padding: $space-1 * 2 $space-1;

        &:first-child {
          padding-left: $space-1 * 2;
          font-weight: $font-weight-bold;
        }
      }

      &:nth-child(odd) {
        background: palette(blue, lightest);
      }
    }
  }
}
