@import 'src/css/settings';

.c-analyzer-outputs {
  z-index: 2;
  overflow: auto;
  position: absolute;
  left: $sidebar-width;
  top: 0;
  width: calc(100% - #{$sidebar-width});
  height: calc(100vh - #{$size-header});
  padding: #{$space-1 * 3} 0;
  background: palette(sand);

  .container {
    max-width: $sidebar-width;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
