@import 'src/css/settings';

.c-slider-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > .c-slider-input__input {
    min-width: 75px;
    padding: $space-1 / 2 $space-1;
    text-align: center;
    background: palette(white);
  }

  > .c-slider-input__slider {
    margin: $space-1 * 3 0 0;
  }
}
