@import 'css/settings';

.c-analyzer-filters {
  padding: $space-1 * 6 $padding-md;
  background: palette(blue);

  > .filter-row {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      padding: $padding-md 0 0;
    }
  }
}
